* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/home.png") center/cover, rgba(0, 0, 0, 0);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  padding: 50px;
  position: flex;
  justify-content: space-between;
}

.container-for-ancients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-for-ancients-left,
.container-for-ancients-right {
  display: flex;
  gap: 20px;
}

.ancient-card {
  width: 200px;
  height: 260px;
  background-size: contain;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s all;
}

.ancient-card.active {
  opacity: 1;
  transform: scale(1.1);
}

.ancient-card:active {
  transform: scale(1.1);
  transition: 0.5s all;
}

.ancient-card:hover {
  opacity: 1;
  transition: 0.25s all;
}


.azathoth {
  background-image: url("../assets/ancients/azathoth.png");
}

.cthulthu {
  background-image: url("../assets/ancients/cthulthu.png");
}

.logsothoth {
  background-image: url("../assets/ancients/iogsothoth.png");
}

.shubniggurath {
  background-image: url("../assets/ancients/shubniggurath.png");
}

.difficulty-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  opacity: 0;
}

.difficulty-container.active {
  opacity: 1;
  transition: 1s, all;
}

.difficulty {
  width: 120px;
  height: 40px;
  border: solid rgb(179, 7, 7) 2px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 13px;
  opacity: 0.5;
  cursor: pointer;
}

.difficulty.active {
  opacity: 1;
  transform: scale(1.1);
}

.difficulty:hover {
  opacity: 1;
  transition: 0.25s all;
}

.deck-container {
  display: flex;
  justify-content: center;
}

.shuffle-btn {
  display: none;
  width: 200px;
  height: 80px;
  background-color: rgb(255, 0, 0);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 1000;
  opacity: 0.5;
  cursor: pointer;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.shuffle-btn.active {
  display: flex;
}

.shuffle-btn:hover {
  opacity: 1;
}